// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#secrets {
	display: inline-block;
	vertical-align: top;

}

#secrets_liked{
	display: inline-block;
	margin-left: 50px;
	vertical-align: top;
	
}